section {
  margin: 0;
  padding: 0;
}
.page-header h2 {
  margin-top: 50px;
}
canvas {
  border: 1px solid #999;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
form {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  height: 282px;
}
.i {
  font-style: italic;
}
